.checkout-main-div{
    display: flex;
    flex-direction:row;
    border: 3px solid  #42ef8137;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    border-radius: 10px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14) ; */
    margin-bottom: 60px;
}
.checkout-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    row-gap: 20px;
    
}
.checkout-list{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.checkout-total-div{
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 260px;
    height: 290px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.207);
}
.chekout-price-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-topic{
    display: flex;
    flex-direction: row;
    gap:20px
}
.checkout{
    margin-top: 20px;
    width: 240px;
    color: white;
    background-color: #6BBD99;
}
.checkout:hover{
    background-color: #1a942e;
    color: white;
}
.pri-count-tot{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.pres-main-div{
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 30px;
     gap: 40px;
}
.my-presc{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background-color: #6bbd9947;
    color: black;
    height: 50px;
    align-items: center;
}
.upload-btn{
    font-family: 'Montserrat', sans-serif;
    background-color:#C4E8C2;
    border-color:#C4E8C2 ;
    border-radius: 5px;
    font-size:15px;
    padding: 3px 12px;
    font-weight: 550;
    color: rgba(1, 16, 11, 0.841);
}
.upload-btn:hover{
    transform : scale(1.1);
}

.file-upl{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color:#6BBD99; /* Change to desired background color */
    color: #fff; /* Change to desired text color */
    border-radius: 4px;
}
.pres-img{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.pres-img-cls{
    width: 450px;
    height: 600px;
    object-fit: contain;
}